{% extends 'core/base.html' %}

{% block head_title %}Transaction Management System{% endblock %}

{% block content %}
    <div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">
        <!--Left Col-->
        <div class="flex flex-col w-full lg:w-1/2 justify-center items-start pt-12 pb-24 px-6">
            <h1 class="font-bold text-4xl my-4">Transaction Management System</h1>
            <p class="leading-normal mb-4">
            </p>
        </div>

    </div>
{% endblock %}
